.header {
  padding-top: 2.2rem;
}

.header_content {
  font-size: 14px;
  display: block;
  margin-bottom: 15.2rem;
  color: #c22727;
  letter-spacing: 0.5px;
  @media (max-width: 767px) {
    margin-bottom: 5rem;
  }
}

.header_content span {
  color: black;
}
.header_logo {
  display: block;
  width: 286px;
  height: 193px;
  position: relative;
  margin: 0 auto;
  opacity: 0;
  animation: anim-opacity 4s forwards;
  transform: scale(0);
  @media (max-width: 767px) {
    width: 186px;
    height: 93px;
  }
}
@keyframes anim-opacity {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
