.footer {
  color: #b04a4a;
  padding-bottom: 6rem;
  @media (max-width: 767px) {
    padding-bottom: 4rem;
  }
}
.footer_logo {
  display: block;
  max-width: 204px;
  width: 204px;
  height: 138px;
  position: relative;
  margin: 0 auto 6.4rem auto;
  opacity: 0;
  animation: anim-opacity 5s forwards;
  transform: scale(0);
  @media (max-width: 767px) {
    width: 144px;
    height: 78px;
    margin: 0 auto 2.4rem auto;
  }
}
@keyframes anim-opacity {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.footer_text {
  max-width: 400px;
  margin: 0 auto 2.9rem auto;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  @media (max-width: 767px) {
    font-size: 14px;
    margin: 0 auto 1.9rem auto;
  }
}
.footer_links {
  max-width: 140px;
  margin: 0 auto;
  display: flex;
}
.footer_links a {
  display: block;
  font-size: 14px;
  line-height: 20px;
}
.footer_links a:first-child {
  margin-right: 15px;
}
